// base style
@import "../demo1/src/assets/sass/style";

// skins for demo1 only
@import "../demo1/src/assets/sass/global/layout/aside/skins/dark";
@import "../demo1/src/assets/sass/global/layout/brand/skins/dark";
@import "../demo1/src/assets/sass/global/layout/header/skins/base/light";
@import "../demo1/src/assets/sass/global/layout/header/skins/menu/light";

//@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";

@import "~lightgallery.js/dist/css/lightgallery.min.css";

@import "../../public/vendor/core/core";

select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;

    .select2-selection {
        background: #eee;
        box-shadow: none;
    }

    .select2-selection__arrow,
    .select2-selection__clear {
        display: none;
    }
}

